.donutchart-track {
    fill: transparent;
    stroke: #DAE2E5;
    stroke-width: 26;
}

.donutchart-indicator {
    fill: transparent;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
    &-green {
        @extend .donutchart-indicator;
        stroke: $new-green;
    }
    &-orange {
        @extend .donutchart-indicator;
        stroke: $new-orange;
    }
    &-dark-blue {
        @extend .donutchart-indicator;
        stroke: $new-dark-blue;
    }
}

.donutchart {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
}

.donutchart-text {
    font-weight: 300;
}

.donutchart-text-val {
    font-size: 30px;
}

.donutchart-text-percent {
    font-size: 14px;
}


