.light-controller {
    .group-title {
        font-size: 1.2em;
    }
    .status {
        font-size: 3em;
        text-align: center;
    }
    .light-title {
        font-size: 1.1em;
    }
    .color-pick {
        font-size: 1.4em;
        padding-right: 0.8em;
    }
}