@mixin filter($color) {
    @if $color==#FFFFFF {
        background-color: rgba($color, .91);
    }
    @else {
        background-color: rgba($color, .69);
    }
}

@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
    background: none;
    border: 0;
    font-size: $font-size;
    line-height: $height;
    position: relative;
    width: $width;
    height: $height;
    @if $direction=="up" {
        transform: rotate(-90deg);
    }
    @else if $direction=="down" {
        transform: rotate(90deg);
    }
    a {
        color: $color;
        text-decoration: none;
        position: relative;
        z-index: 10;
    }
    &::before,
    &::after {
        background: $background;
        content: '';
        display: block;
        left: 0;
        right: 0;
        height: $height/2;
        position: relative;
    }
    &::before {
        transform: skew(45deg);
        @if $direction=="left" {
            bottom: 0;
            z-index: 1
        }
        @else {
            top: 0;
        }
    }
    &::after {
        transform: skew(-45deg);
        @if $direction=="left" {
            top: 0;
        }
        @else {
            bottom: 0;
        }
    }
    &:hover::before,
    &:hover::after {
        background: lighten($background, 15%);
    }
    &:focus {
        &::before,
        &::after {
            background: lighten($background, 15%);
        }
        outline: 0;
    }
}